$orange: #f48d69;
$orangelight: #ffb591;
$orangepastel: #f8ddce;
$blue: #3e14d6;
$bluelight: #6259fa;
$white: #ffffff;
$greypastel: #e3e3e5;
$lightgrey: #a5a5ac;
$mediumgrey: #3f3f50;
$grey: #16162a;
$navbackground: rgba(22, 21, 43, 0.4);
$cardbackground: #27273d;
$green: rgb(39, 156, 39);
